@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root {
    --white: #f8f9fa;
    --bg-black: #0f1013;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(../assets/bg/shop-bg-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
    overflow-x: hidden;
}


.top-banner {
    width: 100%;
    /* backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px); */
    color: var(--white);
    font-family: "Kanit", sans-serif;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 3px;
    font-style: italic;
    white-space: nowrap;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    height: 2rem;
    display: flex;
    align-items: center;
}


.scrolling-text {
    display: inline-block;
    padding-left: 100%;
    animation: scroll-left 15s linear infinite;
}

@keyframes scroll-left {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-100%);
    }
}


.header {
    position: sticky;
    top: 2rem;
    margin-top: 2rem;
    z-index: 99999;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 7rem;
}

/* Logo */
.nav-logo {
    height: 5.6rem;
}

.logo-container-info-section {
    height: 100%;
    width: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.logo-container-info-section model-viewer {
    height: 100%;
    width: 100%;
}

.info-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
    gap: 1.5rem;
    font-family: "Kanit", sans-serif;
}

/* swiper */
.product-swiper {
    width: 100%;
    max-width: 500px;
    overflow: hidden;
}

.product-swiper img {
    width: 100%;
    height: auto;
    display: block;
}

/* texto producto */
.info-text {
    max-width: 600px;
    text-align: center;
    padding: 1rem;
}

.info-text h2 {
    font-size: 1.8rem;
    margin-bottom: 0.5rem;
    color: var(--white);
}

.info-text h3 {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    font-weight: 400;
    font-style: italic;
    color: var(--white);
    margin-top: -1rem;
}

.info-text p {
    font-size: 1rem;
    line-height: 1.5;
    color: var(--white);
}

/* responsive */
@media (min-width: 768px) {
    .info-section {
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
    }

    .info-text {
        text-align: left;
        padding: 2rem;
    }
}

/* bullets blancos */
.swiper-pagination-bullet {
    background: #fff !important;
    opacity: 0.6;
}

.swiper-pagination-bullet-active {
    background: #fff !important;
    opacity: 1;
}

.swiper-button-prev,
.swiper-button-next {
    display: none !important;
}

.swiper-image-wrapper {
    position: relative;
    overflow: hidden;
    border-radius: 4px;
    /* mismo borde que quieras para las imágenes */
}

.product-image {
    width: 100%;
    height: auto;
    border-radius: 4px;
    display: block;
}

.product-stock {
    position: absolute;
    top: 20px;
    left: -40px;
    background: green;
    color: white;
    font-size: 0.9rem;
    font-weight: bold;
    padding: 5px 50px;
    transform: rotate(-45deg);
    text-align: center;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    z-index: 5;
}

#available-quantity {
    color: var(--white);
    margin-top: .5rem;
}

/* Colores según stock */
.in-stock {
    background: #16a34a;
    /* verde */
}

.out-of-stock {
    background: #dc2626;
    /* rojo */
}


.info-back-btn {
    margin-top: 1.5rem;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    color: var(--white);
    background-color: var(--bg-black);
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: "Kanit", sans-serif;
}

/* footer */

.footer {
    width: 100%;
    padding: 2rem 0;
    height: 29rem;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
}

/* .top-line {
    width: 95%;
    height: 3px;
    background: rgba(255, 255, 255, 0.274);
    padding: 1px;
    border-radius: 5px;
} */

.footer-top-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 2rem 3rem;
    gap: 15px;
}

.social-links-container {
    display: flex;
    gap: 1rem;
    list-style: none;
    padding: 0;
    margin: 0;
}

.social-link a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 42px;
    height: 42px;
    color: var(--white);
    text-decoration: none;
    transition: all 0.3s ease;
}

.social-link a:hover {
    transform: scale(1.1);
}

.footer-logo {
    height: 13rem;
    width: 13rem;
}

.footer-logo model-viewer {
    width: 100%;
    height: 100%;
}

.footer-mid-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2rem 0;
}

.footer-mid-title h3 {
    color: var(--white);
    font-family: "Kanit", sans-serif;
    font-weight: 300;
    font-size: 1.6rem;
    font-style: italic;
}

.payment-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    list-style: none;
    margin-top: 1rem;
}

.payment-container li img {
    width: 50px;
    height: auto;
    display: block;
}

.bottom-rights {
    width: 100%;
    padding: .5rem 0;
    display: flex;
    justify-content: center;
    align-items: center
}

.bottom-rights p {
    font-family: "Kanit", sans-serif;
    color: #e2e2e2;
    letter-spacing: 1px;
    font-style: italic;
    font-weight: 100;
    margin-top: 5.5rem;
}



#paypal-button-container {
    width: 15rem;
    height: 15rem;
}


#subscriptionForm {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    font-family: "Kanit", sans-serif;
}

#subscriptionForm input[type="tel"] {
    padding: 0.6rem 1rem;
    border: 1px solid #cccccc56;
    border-radius: 4px;
    font-size: 1rem;
    outline: none;
    transition: border-color 0.2s ease;
    min-width: 200px;
    background: transparent;
    color: var(--white-grey);
    font-family: "Kanit", sans-serif;
}

#subscriptionForm input[type="tel"]:focus {
    border-color: #666;
}

#subscriptionForm button {
    padding: 0.7rem 1.2rem;
    background-color: #343a405b;
    /* color oscuro tipo Shopify footer */
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.2s ease;
    font-family: "Kanit", sans-serif;
}

#subscriptionForm button:hover {
    background-color: #212529;
    /* más oscuro al hover */
}


.subscribe-modal {
    font-family: "Kanit", sans-serif;
    position: fixed;
    bottom: -100px;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--bg-black);
    color: var(--white-grey);
    padding: 1rem 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    font-weight: bold;
    transition: bottom 0.5s ease, opacity 0.5s ease;
    opacity: 0;
    z-index: 9999;
}

.subscribe-modal.active-modal {
    bottom: 30px;
    opacity: 1;
}



/* ANIMACIONES GENERALES */
.fade-in-up {
    opacity: 0;
    transform: translateY(30px);
    animation: fadeInUp 1s ease forwards;
}

.fade-in-down {
    opacity: 0;
    transform: translateY(-30px);
    animation: fadeInDown 1s ease forwards;
}

.fade-in-left {
    opacity: 0;
    transform: translateX(-40px);
    animation: fadeInLeft 1s ease forwards;
}

.fade-in-right {
    opacity: 0;
    transform: translateX(40px);
    animation: fadeInRight 1s ease forwards;
}

@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInDown {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInLeft {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeInRight {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

/* delay en cascada */
.delay-1 {
    animation-delay: 0.3s;
}

.delay-2 {
    animation-delay: 0.6s;
}

.delay-3 {
    animation-delay: 0.9s;
}


@media (max-width: 580px) {
    .bottom-rights p {
        font-size: .7rem;

    }
}